/* @media (min-width: 1080px) and (max-width: 1920px) {
  .section.started .started-content .logo {
    top: -2.5vh;
    left: -18.5vh;
    width: 55vw;
    height: 52vw;
  }
} */

@media (min-width: 1200px) {
  .section.started .started-content .logo {
    top: -18.5vh;
    left: -18.5vw;
    width: 40vw;
    height: 40vw;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .section.started .started-content .logo {
    top: -2.5vh;
    left: -18.5vh;
    width: 52vw;
    height: 52vw;
  }

  /* .footer p {
    margin: -5px 0 0 0px;
  } */

  .footer .copy {
    margin: 0px 0 0 0px;
  }
}

@media (max-width: 576px) {
  .section.started.personal .started-content .typed-subtitle,
  .section.started.personal .started-content .typed-bread {
    left: 0;
    bottom: 44px;
    padding-right: 50px;
    font-size: 35px;
    line-height: 46px;
  }
}

@media (max-width: 1190px) {
  .section.started .started-content .logo {
    top: 4px;
    left: -150px;
    width: 600px;
    height: 600px;
  }

  .section.started.personal .started-content .h-title {
    left: 50%;
    top: 50%;
  }

  /* .section .content-box {
  padding: 20px 0px;
} */
}

@media (max-width: 768px) {
  .section.started .started-content .logo {
    top: 4px;
    left: -150px;
    width: 600px;
    height: 600px;
  }

  /* 
  .footer p {
    margin: -5px 0 0 0px;
  } */

  .footer .copy {
    margin: 0px 0 0 5px;
  }

  .footer .soc-box {
    margin-left: 35px;
  }

  .section .content-box {
    margin-right: 0px;
    padding: 20px 0px;
  }

  .content.content-box.cont-box-ser {
    padding: 20px 20px;
  }
}

@media (max-width: 576px) {
  .section.started.personal .started-content .typed-subtitle,
  .section.started.personal .started-content .typed-bread {
    left: 0;
    bottom: 44px;
    padding-right: 50px;
    font-size: 22px;
    line-height: 35px;
  }

  .section.started.personal .started-content .h-title {
    left: 17%;
    top: 58%;
  }

  .section.started.personal .started-content .h-title {
    top: 53px;
  }

  .home .footer {
    bottom: 51px;
    top: auto;
    left: 2px;
    right: 30px;
  }

  .section.started.personal .started-content .h-title {
    left: 17%;
    top: 52%;
  }

  .section.started.personal .started-content .typed-subtitle,
  .section.started.personal .started-content .typed-bread {
    bottom: 80px;
  }

  .image.image-multimedia {
    padding: 0px 0px;
  }

  .content.content-box.content-about {
    padding: 20px;
  }

  .skills.list.content-box.content-about {
    padding: 20px;
  }

  .section .content-box {
    margin-right: 0px;
    /* padding: 20px 0px 0px 0px; */
    padding: 20px 20px;
  }

  .content.content-box.cont-box-ser {
    padding: 20px 20px 20px 20px;
  }

  .footer p {
    margin: 0px 0 0 40px;
  }
  .copy.copy-home {
    margin-top: -20px;
  }
  .copy.copy-home p {
    margin: 0 0 0 25px;
  }
}

/* Kasun */
.header .logo {
  width: 120px;
}
.header .logo img {
  width: 120px;
}
.log_img2 {
  margin-top: -10px;
}

.hover-masks-logo span {
  display: inline-block;
  transition: 0.4s;
}

.hover-masks-logo .sp_right1 {
  margin-left: -124px;
}

.hover-masks-logo:hover .sp_left1 {
  margin-left: -124px;
}

.hover-masks-logo:hover .sp_right1 {
  margin-left: 0px;
}
/* Footer responsive */
@media (min-width: 991px) and (max-width: 1199px) {
  .footer .copy {
    padding-left: 25px;
  }
}
/* contact page box height */
.service-item.content-box {
  height: 100%;
}
/* on map text styles */
.section.started.section-title .started-content .h-title{
  margin-top: 100px;
}

/*sammani*/
a.email-decoration {
  color: #bbb;
  text-decoration: none;
}

.service-item.content-box:hover {
  cursor: pointer;
  background: #ed2133;
}

.service-items .service-item .name:hover {
  color: #ffffff;
  cursor: pointer;
}

.service-item.content-box:hover .icon {
  color: #101010;
  cursor: pointer;
}

.links a:hover {
  color: #ed2133;
  cursor: pointer;
}
